html, body {
    height: 100%;
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
}

.default .header {
    width: 95%;
    margin: 0 auto;
    border-left: 1px #e5e5e5 solid;
    border-right: 1px #e5e5e5 solid;
    line-height: 24px;
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
    background: #EDEDED;
}

.panel {
    font-family: 'Segoe UI','Open Sans', sans-serif;
}

.panelTitle {
    display: block;
    font-size: 2em;
    padding-left: 0em;
    padding-bottom: 0.5em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0em;
    -webkit-margin-end: 0em;
    -webkit-margin-before: 0em;
    font-weight: bold;
}

.featureButton {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    height: 24px;
    width: 24px;
    margin-left: 5px;
    color: black;
    background: transparent;
}

    .featureButton:hover {
        color: #1F6D9B;
        background: transparent;
    }

.casetherapist {
    font-size: 1em;
    float: right;
    padding-right: .3em;
    margin-right: -1px;
    padding-left: 1em;
    background-color: white;
    margin-bottom: -2px;
}

#bbq {
    height: auto;
    margin: 0 auto;
    font-size: .75em;
}

.bbqContainer {
    margin: 0 auto;
    display: table;
}

.bbqProduct {
    font-weight: bold;
    background-color: #CCCCCC;
    padding-left: 3px;
    margin: 0 auto;
    display: inline-block;
}

.bbqQueue {
    /*font-family: 'Open Sans Condensed', sans-serif;*/
    border-right: 1px solid darkgray;
    border-left: 0px;
    display: inline-block;
    background-color: white;
    font-weight: normal;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: -3px;
}

#jqxTabs {
    margin-left: auto;
    margin-right: auto;
}

.contactRed {
    background-color: #FFA59C;
}

.contactOrange {
    background-color: #FFDB9B;
}

.contact2 {
    background-color: #FBFFCC;
}

.contact3 {
    background-color: #F8FF99;
}

.contact4 {
    background-color: #F4FF66;
}

.contact5 {
    background-color: #FFE57F;
}

.contact6 {
    background-color: #FFD53F;
}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: black;
}


.headernotification {
    width: 100%;
    margin: 0 auto;
    line-height: normal;
    background-color: #DFE5A7;
    border: 1px solid #e5e5e5;
    padding-bottom: 1px;
    text-align: center;
    color:#4C402C;
}

    .headernotification #message {
        /*padding-left: 20px;*/
    }

    .headernotification a {
        color: #34404C;
        text-decoration: underline;
    }

/* Begin Queue Activity */

ul, li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    display: table-row;
}

.menu_class {
    border: 1px solid #1C1C1C;
}

.file_menu {
    background-color: #302F2F;
    border: 1px solid #1C1C1C;
    display: none;
    position: fixed;
    right: 3%;
    top: 30px;
    width: auto;
    z-index: 10000;
}

    .file_menu li {
        background-color: #302F2F;
    }

.jqx-tabs-headerWrapper {
    z-index: 1000;
}

.circle {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}

.red {
    background: none repeat scroll 0 0 #FF4040;
}

.green {
    background: none repeat scroll 0 0 #70ED3B;
}

.yellow {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.orange {
    background: none repeat scroll 0 0 #FFB040;
}

.qaname {
    display: inline-block;
    margin-left: 5px;
    float: left;
}

.qatimeinstatus {
    display: inline-block;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}

/* End Queue Activity */


/* Queue Summary Begin */

.bbqAllContainer {
    font-size: .8em;
}

ol.queueStatusSlats {
    margin: 0;
    padding: 0;
}

    ol.queueStatusSlats li {
        margin: 0 0 .1em 0;
        padding: 0 0 .1em 0;
        /* border-bottom: 1px solid #eee;*/
        list-style: none;
        display: block;
    }

        /*ol.queueStatusSlats li:last-child {
                    margin: 0;
                    padding: 0;
                    border-bottom: none;
                }*/

        ol.queueStatusSlats li ul {
            font-weight: bold;
            font-size: 1em;
            margin: 0;
        }

        ol.queueStatusSlats li ul {
            /*line-height: 1.4;*/
            margin-left: .5em;
            -webkit-margin-before: 0;
            -webkit-margin-after: 0;
            -webkit-padding-start: 0;
        }

div#combinedQueueStatusContainer ol.queueStatusSlats li ul li:first-child {
    /*border-top: 1px solid #eee;*/
}

div#combinedQueueStatusContainer ol.queueStatusSlats li ul li:last-child {
    /*margin: 0;
            padding: 0;
            border-bottom: none;*/
}

ol.queueStatusSlats li p span.meta {
    display: block;
    color: #999;
}

ul.queueStatusGroup li {
    list-style: none;
}

    ul.queueStatusGroup li:last-child {
        margin: 0;
        padding: 0;
        border-bottom: none;
    }

ol.queueStatusSlats h3 {
    color: #2790ae;
    text-decoration: none;
    outline: none;
}

ul.stats-tabs {
    display: table;
}

    ul.stats-tabs li {
        float: left;
        margin: 0;
        padding: 0 .5em 0 .5em;
        border-left: 1px solid #ccc;
        border-top: 0;
        border-bottom: 0;
        border-right: 0;
    }


        ul.stats-tabs li:first-child {
            border-left: 0px;
        }

ol.queueStatusSlats li.combined:nth-child(odd) {
    background: #eee;
}

ol.queueStatusSlats li.single:nth-child(odd) {
    background: #eee;
}

.grid0 {
    width: 10em;
}

.grid1 {
    width: 1.5em;
    text-align: center;
}

.grid2 {
    width: 2em;
    text-align: center;
}

.grid3 {
    width: 3.5em;
    text-align: center;
}

.grid4 {
    width: 2em;
    text-align: center;
}

.grid5 {
    width: 2em;
    text-align: center;
}

.grid6 {
    width: 2em;
    text-align: center;
}

.grid7 {
    width: 2em;
    text-align: center;
}

.grid8 {
    width: 4em;
    text-align: center;
}

.grid9 {
    width: 4em;
    text-align: center;
}

.grid10 {
    width: 4em;
    text-align: center;
}

.grid11 {
    width: 2em;
    text-align: center;
}

#queueSelection {
    width: 100px;
    float: left;
    /*margin-top: 40px;*/
    position: fixed;
}

.queueHeader {
    background-color: #1F6D9B;
    color: white;
}

#masterContainer {
    margin-left: 120px;
}

.queueHeader ul li {
    display: inline;
}

    .queueHeader ul li div {
        white-space: nowrap;
        background-color: #1F6D9B;
        display: inline-block;
        margin-right: 20px;
        margin-left: 5px;
    }
/* Queue Summary End */

/* Admin Begin*/
div#adminPanel {    
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
    font-size: 13px;
}
div#adminPanel #wizardAdmin_Container {
    margin: 0.5em;
    height: 26px;
    min-width: 187px;
}

div#adminPanel #wizardAdmin > .steps a, #wizardAdmin > .steps a:hover, #wizardAdmin > .steps a:active {
    padding: .4em 1em;
}

div#adminPanel #wizardAdmin_ProductFilter {
    width: 70%;
    display: inline;
}

div#adminPanel .wizardAdmin_ProductAddButton {
    width: 20%;
    display: inline;
    margin-left: 10px;
}

div#adminPanel .wizardAdmin_RemoveProductContainer {
    float: right;
    width: 15%;
    background-color: dimgrey;
    margin-top: 0px;
    padding: .4em 1em;
    border-radius: 0 5pt 5pt 0;
    text-align: center;
    top: 0px;
}

    div#adminPanel .wizardAdmin_RemoveProductContainer:hover {
        background-color: crimson;
    }

div#adminPanel .wizardAdmin_CallTypeRowContainer {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
}

    div#adminPanel .wizardAdmin_CallTypeRowContainer ol li {
        display: inline-block;
        padding: 1px 5px;
        margin: 1px 5px;
        width: 5em;
    }

        div#adminPanel .wizardAdmin_CallTypeRowContainer ol li:first-child {
            width: auto;
        }

    div#adminPanel .wizardAdmin_CallTypeRowContainer ol {
        background-color: lightgray;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 0px;
        margin: 0px;
        border-bottom: 1px solid gray;
    }

div#adminPanel .actions {
    margin: 3px 10px;
    display: inline;
    padding: 5px 0;
}

div#adminPanel li input {
    width: 5em;
}

div#adminPanel .actions i, #li-save i {
    position: relative;
    top: 1px;
    background: transparent;
    padding: 0 2px;
}

    div#adminPanel .actions i:hover, #li-save i:hover {
        color: red;
        background-color: dimgrey;
        border-radius: 3px;
    }

div#adminPanel .header li:first-child {
    width: 56px;
}

div#adminPanel ul {
    display:block;
    overflow-y:scroll;
    height:30em;
    padding-right: 5px;
}

.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
    background: white;
    color: black;

}

div #addproduct-dialog-form {
    z-index:20000;
}

div.ui-dialog {
    z-index:20000;
    min-width: 400px;
}

/* Admin End */
